.image_container{
  box-sizing: content-box;
}
.image{
    max-width: 450px;
    border-radius: 1px;
    border-width: 2px;
    border-style: solid ;
    border-color: rgb(23, 23, 23);
    }
.bo{
      color: cornflowerblue;
      -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: black;
    text-decoration: underline;
  text-decoration-color: rgb(56, 56, 56);
  }
.green{
  color: darkgreen;
}
.blue{
  color: rgb(10, 90, 239);
}
.animation{
  background-image: linear-gradient(
    -225deg,
    rgb(56, 56, 56) 0%,
    cornflowerblue 29%,
    skyblue 67%,
    rgb(54, 53, 53) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
      margin-left: 35%;
      justify-content: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}